*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e9b6e6;
}
h1 {
    color: #2c3e50; /* Dark Gray */
    transition: color 0.3s ease-in-out;
}

h1:hover {
    color: #3498db; /* Blue */
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1,1,1,0.1);
    border-radius: 10px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title_small{
    font-size: 20px;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}
.form_control{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input,
select,
textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}
input:focus{
    outline-color: rgb(38, 0, 255);

}
.button_container {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}
    

button{
    background-color: #8E1616;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: #ffffff;
    border: 2px solid rgb(0, 47, 255);
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.textarea_control{
    grid-column:1 / span 2;
    font-weight: bolder;
}
.textarea_control textarea{
    width: 100%;
}
